header,
footer {
  text-align: center;
}

ul {
  display: flex;

  & li {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 1rem 0;
    margin: 1rem 0;

    &:active {
      background-color: #555;
    }
    &:hover {
      background-color: #555;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;

  & div {
    flex: 1;
  }

  & nav {
    display: grid;
    place-items: center;
    cursor: pointer;

    & figure {
      width: 50px;
      height: 50px;
    }
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  max-width: 400px;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #d8d7d7;
  border-radius: 0.5rem;
  color: #131313;

  & .heart {
    position: relative;
    left: 165px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.container-btn {
  display: none;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0.5rem;

  & .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffda16;
    color: #131313;
    border: none;
    cursor: pointer;

    & figure {
      width: 70px;
      height: 70px;
    }

    &:active {
      background-color: #9d8610;
    }
    &:hover {
      background-color: #9d8610;
    }
  }

  & .btn-not-available {
    background-color: #555;
    cursor: not-allowed;

    &:active {
      background-color: #555;
    }
    &:hover {
      background-color: #555;
    }
  }
}
